{% extends 'base.html' %}

{% block content %}

<body>
  <div class="sidebar" style="width: 4cm;"> <!-- Adjust width as needed -->
    <!-- Profile Image Link -->
    <a href="#">
      <img src="{{ url_for('static', filename='img/team-3.jpg') }}" alt="Profile Picture" class="circle-image">
    </a>
    <!-- Edit Profile Button -->
    <div class="edit-profile-button">
      <a href="#">Edit Profile</a>
    </div>
  </div>




  <div class="profile">
    <div class="section">
      <h2>Password</h2>
      <form>
        <label for="currentPassword">Current Password:</label><br>
        <input type="password" id="currentPassword" name="currentPassword"><br>
        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword"><br>
        <label for="confirmPassword">Retype Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword"><br><br>
        <input type="submit" value="Change Password">
      </form>
    </div>
    <div class="section">
      <h2>Enable 2FA</h2>
      <button>Enable 2FA</button>
    </div>
    <div class="section">
      <h2>Upload Documents</h2>
      <label for="projects">Projects:</label><br>
      <input type="file" id="projects" name="projects"><br><br>
      <label for="credentials">Credentials:</label><br>
      <input type="file" id="credentials" name="credentials"><br><br>
    </div>
  </div>

{% endblock %}
